<br>

<div class="row">
    <!-- <div class="col"> -->
        <div class="col-sm-12 col-md">
            <div class="card text-center text-white light-blue lighten-2 m-2" id="total-orders">
                <div class="card-header">
                    <h5 class="card-title">Total Orders</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_orders}}</h3>
                </div>
            </div>
        </div>
    <!-- </div> -->

    <!-- <div class="col"> -->
        <div class="col-sm-12 col-md">
            <div class="card text-center text-white cyan lighten-3 m-2" id="orders-delivered">
                <div class="card-header">
                    <h5 class="card-title">Orders Delivered</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{delivered}}</h3>
                </div>
            </div>
        </div>
    <!-- </div> -->

    <!-- <div class="col"> -->
        <div class="col-sm-12 col-md">
            <div class="card text-center text-white teal lighten-3 m-2" id="orders-pending">
                <div class="card-header">
                    <h5 class="card-title">Orders Pending</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{pending}}</h3>
                </div>
            </div>
        </div>
    <!-- </div> -->
</div>
