{% extends "account/base.html"%}
{% load static %}
{%block title%} 
Order Form
{%endblock title%}

{%block content%} 
<div class="row">
    <div class="col-md-6 ml-3 mt-3">
        <div class="card card-body">
            <form action="" method="post">
                <legend>Update Items</legend>
                <hr>
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Submit" name="Submit">
            </form>
        </div>
    </div>
</div>

{%endblock content%}